.row-center {
  max-width: 1300px;
  width: 80%;
  height: auto;
  margin: 30px auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, 210px);
  justify-content: center;
  gap: 10px;
}

.card {
  width: 200px;
  height: 300px;
  padding: 5px;
  border: solid rgb(199, 199, 199) 1px;
}

.product-title {
  font-size: 1.2em;
}
