.container {
  width: 50%;
  margin: auto;
  margin-top: 30px;
}

.each-slide {
  display: flex;
  height: 200px;
  justify-content: center;
}

.img-slide {
  height: 200px;
  vertical-align: middle;
}
